/* Global */
* {
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

body.homepage,
body.c-s-s-r, 
body.g-c-s-w,
body.t-b-s {
    background-color: #ffcdd2;
}

div.c-s-s-r-recipe-card,
div.g-c-s-w-recipe-card,
div.t-b-s-recipe-card {
    border: 5px solid #8b0000;
    padding: 30px;
    max-width: 750px;
    margin: 0px auto;
    background-color: #fff9ef;
}

div.c-s-s-r-top-navigation a,
div.g-c-s-w-top-navigation a,
div.t-b-s-top-navigation a{
    margin: 0px 15px; 
}

div.c-s-s-r-top-navigation,
div.g-c-s-w-top-navigation,
div.t-b-s-top-navigation {
    margin: 0px auto;
    max-width: 750px;
    text-align: center;
    border: 2px solid #8b0000;
    padding: 5px;
}

h1.c-s-s-r-recipe-title,
h1.g-c-s-w-recipe-title,
h1.t-b-s-recipe-title {
    border: 3px solid #8b0000;
    text-align: center;
    background-color: #ffcdd2;
    margin: 25px auto 30px;
}

img {
    display: block;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

.heading-1-content p,
.heading-2-content ul,
.heading-3-content ol {
    font-size: 1.1em;
}

.c-s-s-r-ul-1 {
    margin-top: 20px;
}

.g-c-s-w-ul-1,
.g-c-s-w-ul-2 {
    margin-bottom: 20px;
}

div.heading-3-content ol li {
    margin-bottom: 7px;
}


/* Homepage */
div.homepage-welcome-card {
    background-color: #fff9ef;
    max-width: 550px;
    margin: 30px auto;
    border: 5px solid #8b0000;
    padding: 30px;
    text-align: center;
}

h1.homepage-title {
    background-color: #ffcdd2;
    width: 225px;
    margin: 0px auto 20px;
    border: 3px solid #8b0000;
}

h2.homepage-subtitle {
    width: 432px;
    margin: 20px auto 25px;
    font-size: 1.3em;
}

ul.homepage-recipes-list {
    list-style-position: inside;
    text-align: justify;
    width: 285px;
    margin: 25px auto 0px;
    border: 2px solid #8b0000;
    padding: 5px;
}

li.homepage-recipe-link {
    padding: 4px;
}

span.homepage-scrumptious {
    background-color: #ffcdd2;
    color:#8b0000;
    font-style: italic;
    padding: 0px 4px;
    border: 1px dotted #8b0000;
    display: inline-block;
}

